<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.exp.carconnect.base">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application android:icon="@mipmap/ic_launcher">

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="4fa3e9247ecc0eeb8ab3e273e1668b4daa362208" />

        <provider
            android:name="com.crashlytics.android.CrashlyticsInitProvider"
            android:authorities="com.exp.carconnect.dashboard.test.crashlyticsinitprovider"
            android:exported="false"
            android:initOrder="100"
            tools:replace="android:authorities" />
        <service android:name=".SessionForegroundService" />
    </application>

</manifest>