<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.exp.carconnect.base">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <application android:name="com.exp.carconnect.base.CarConnectApp">

        <activity
            android:name="com.exp.carconnect.base.activity.SetupActivity"
            android:theme="@style/Theme.AppCompat.DayNight">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


    </application>

</manifest>