<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.exp.carconnect.basic">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <application android:name=".CarConnectApp">


        <activity
            android:name=".activity.TestActivity"
            android:hardwareAccelerated="true"
            android:theme="@style/Theme.AppCompat.DayNight" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.DashboardSimulatorActivity"
            android:theme="@style/Theme.AppCompat.DayNight">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.SetupActivity"
            android:theme="@style/Theme.AppCompat.DayNight">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.DashboardActivity"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.DayNight">

        </activity>

    </application>

</manifest>